<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jf.weidong.doc.mapper.BookManageMapper">

    <select id="pageSearch" resultType="BookManageListVO" parameterType="bookManageQuery">
        SELECT b.*,bt.name bookType FROM book b,booktype bt WHERE b.fk_booktype = bt.id
        <include refid="queryList"></include>
        LIMIT #{start},#{pageSize}
    </select>

    <sql id="queryList">
        <if test="ISBN!=null and ISBN !=''">
            and b.ISBN like CONCAT('%',#{ISBN},'%')
        </if>
        <if test="bookName!=null and bookName !=''">
            and b.name like CONCAT('%',#{bookName},'%')
        </if>
        <if test="autho!=null and autho !=''">
            and b.autho like CONCAT('%',#{autho},'%')
        </if>
        <if test="press!=null and press !=''">
            and b.press like CONCAT('%',#{press},'%')
        </if>
        <if test="bookTypeId!=null and bookTypeId !=-1">
            and b.fk_booktype like CONCAT('%',#{bookTypeId},'%')
        </if>
    </sql>

    <select id="totalCount" resultType="int" parameterType="bookManageQuery">
    SELECT COUNT(*) FROM book b WHERE 1=1
        <include refid="queryList"></include>
    </select>

    <select id="getBookById" resultType="bookDO" parameterType="bookDO">
        SELECT * FROM book WHERE id = #{id}
    </select>
</mapper>